[Unit]
Description=Kisa scheduler Service
After=network.target

[Service]
ExecStart=/bin/bash -c "exec java -jar /home/ubuntu/demo-0.0.1-SNAPSHOT.jar"

User=root
Group=root

[Install]
WantedBy=multi-user.target
